.GridContainer {
  flex: 1;
  flex-direction: column;
  background-color: white;
  overflow-x: scroll;
}

.GridRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
}

.GridFullRow {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.GridFloat {
  position: absolute;
  top: 300;
  right: 0;
}

.GridCol {
  flex: 1;
  min-width: 25%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GridDisabled {
  background-color: rgba(0, 0, 0, 0.1);
}

.GridCell {
  border: 0;
  width: 96%;
  outline: none;
  padding: 5px;
  font-size: 1em;
}

.ColBtn {
  width: 100%;
  background-color: #F5F5F5;
  font-size: 1.2em;
  border: 0;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.ActionBtn {
  width: 100%;
  background-color: #1BBC9B;
  color: #FFFFFF;
  font-size: 1.2em;
  border: 0;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  padding: 4px 20px;
}
