.GridContainer {
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.GridScrollableWrapper {
  flex: 1;
  flex-direction: column;
  overflow-x: auto;
  margin-bottom: 50px;
}

.SheetActionBar {
  position: relative;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.GridRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
}

.GridFullRow {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.GridFloat {
  position: absolute;
  top: 300;
  right: 0;
}

.SheetTitle {
  flex: 1;
}

.GridCol {
  flex: 1;
  min-width: 20%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GridCell:hover {
  border: 1px solid #F5D76E;
}

.CellSelected {
  border: 1px solid #1BBC9B;
}

.CellSelected:hover {
  border: 1px solid #1BBC9B;
}

.GridDisabled {
  background-color: rgba(0, 0, 0, 0.1);
}

.GridCellText:hover {
  background-color: #FBFBFB;
}

.GridCellInput {
  border: 0;
  width: 96%;
  outline: none;
  padding: 5px;
  font-size: 1em;
}

.ColBtn {
  width: 100%;
  height: 100%;
  background-color: #444444;
  color: #FFFFFF;
  font-size: 1em;
  padding: 5px;
  border: 0;
  cursor: pointer;
  outline: none;
}

.ColInput {
  background-color: #FDFDFD;
  text-align: center;
  border: 0;
  width: 100%;
  outline: none;
  padding: 5px;
  font-size: 1em;
}

.ActionBtn {
  flex: 1;
  background-color: #1BBC9B;
  color: #FFFFFF;
  font-size: 1.2em;
  border: 0;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  padding: 4px 20px;
}
